<div class="text-center" style="margin-top: 32px;">

    <img src="assets/service2.png" alt="" height="300" width="100%"  style="margin-top: 80px;">
    <h1 class="header">Our Services</h1>
    <div class="card-container">
        <div class="card">
            <img src="assets/Pure TRON .png" alt="Battery Testing And Diagnostics">
            <div class="card-content">
                <h2><b>Battery Testing</b></h2>
                <p>Ensure your batteries are performing at their best.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="assets/ALPHA CELL.png" alt="Installation And Replacement Services">
            <div class="card-content">
                <h2><b>Replacement Services</b></h2>
                <p>Get professional battery installation and replacement services.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="assets/Life.jpg" alt="Maintenance Services">
            <div class="card-content">
                <h2><b>Maintenance Services</b></h2>
                <p>Regular maintenance to extend the life of your batteries</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="assets/Northway.png" alt="Recycling and Disposal">
            <div class="card-content">
                <h2><b>Recycling and Disposal</b></h2>
                <p>Safe recycling and disposal services for old batteries.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="assets/optima Battries.png" alt="Technical Support and Training">
            <div class="card-content">
                <h2><b>Technical Support</b></h2>
                <p>Expert technical support and training to help you.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
        <div class="card">
            <img src="assets/powe safe.png" alt="Warranty">
            <div class="card-content">
                <h2><b>Warranty</b></h2>
                <p>Comprehensive warranty and repair services.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </div>

    <h1 class="header" style="margin-top:20px;">Why Choose Us</h1>
    <div class="reason-container">
        <div class="reason-group">
            <div class="reason">
                <h2>Expertise and Experience</h2>
                <p>With over 20 years in battery services, we bring deep expertise and a proven track record in maintaining and
                    optimizing battery performance.</p>
            </div>
            <div class="reason">
                <h2>Quality Products</h2>
                <p>We source only top-quality batteries from trusted manufacturers, ensuring reliability, durability, and
                    maximum performance for your carts.</p>
            </div>
        </div>
        <div class="reason-group">
            <div class="reason">
                <h2>Comprehensive Services</h2>
                <p>From regular maintenance to emergency repairs, our comprehensive services cover all aspects of battery care
                    to keep your operations running smoothly.</p>
            </div>
            <div class="reason">
                <h2>Customer Focus</h2>
                <p>Your satisfaction is our priority. We offer personalized service, quick response times, and solutions
                    tailored to your specific needs.</p>
            </div>
        </div>
        <div class="reason-group">
            <div class="reason">
                <h2>Environmental Responsibility</h2>
                <p>We are committed to sustainability. Our practices include responsible disposal and recycling, promoting
                    eco-friendly battery solutions for a cleaner environment.</p>
            </div>
        </div>
    </div>
  </div>
